<h2>Add A New Movie To Your List</h2>

<form action="/movies" method="POST">
  <p>Movie Title:  </p><input type="text" id="title" name="title"><br><br>
  <p>Movie Genre:  </p><input type="text" id="genre" name="genre"><br><br>
  <p>Year Movie Was Released: </p><input type="number" id="release_date" name="release_date" min="1900" max="2025" placeholder="e.g.(1990)"><br><br>
  <p>Description:  </p><input type="text" id="description" name="description"><br><br>
  <p>Rating (1 - 5):
    <select type="number" id="rating" name="rating" value="1">
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select>
  </p><br><br>
  <input type="submit" value="Save Movie">
</form>
