<h2> Edit The <%= @category.name %> Category </h2>

<form method="post" action="/categories/<%=@category.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Category: </p><input type="text" name="category" value="<%= @category.name %>"><br><br>
    <input type="submit" value="Save Changes"><br><br>

    <p><a href="/movies">Back to Your Movies</p>
    <p><a href="/categories/<%=@category.id%>/delete">Delete This Category</p>
</form>
