<p>Create a Category</p>

<form action="/categories" method="POST">
  <p>Category Name:  </p><input type="text" id="category" name="category"><br><br>
  <input type="submit" value="Add Category">
</form>
